<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>プロフィール編集</title>
</head>
<body>
<main layout:fragment="content">
    <h1>プロフィール編集</h1>

    <form th:action="@{/users/me/edit}" method="post">
        <p>メール: <span th:text="${user.email}"></span></p>
        <p>名前: <input type="text" th:name="name" th:value="${user.name}" /></p>
        <button type="submit" class="btn">更新</button>
        <a th:href="@{/users/me}" class="btn btn-secondary">戻る</a>
    </form>
</main>
</body>
</html>
