<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
</head>
<body>
<th:block layout:fragment="content">

    <main class="content">
        <h1>マイページ</h1>

        <div class="table-card">
            <table class="store-table">
                <thead>
                <tr>
                    <th>項目</th>
                    <th>内容</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td data-label="項目" class="cell-name">メールアドレス</td>
                    <td data-label="内容" th:text="${user.email}"></td>
                </tr>

                <tr>
                    <td data-label="項目" class="cell-name">名前</td>
                    <td data-label="内容" th:text="${user.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-actions mt-16">
            <a th:href="@{/users/me/edit}" class="btn">名前を変更</a>
            <a th:href="@{/}" class="btn btn-secondary">ホームへ戻る</a>
        </div>
    </main>

</th:block>
</body>
</html>
