<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ホーム</title>
</head>
<body>
<main layout:fragment="content">
    <h1>ホームページ</h1>

    <div th:if="${userName == 'ゲスト'}">
        ようこそ、ゲストさん
    </div>

    <div th:if="${userName != 'ゲスト'}">
        ようこそ、[[${userName}]] さん
    </div>

    <div th:if="${storeName}" class="store-info">
        <p>
            「<span th:text="${storeName}"></span>」の情報を表示します。<br>
            違う店舗の名前が表示されている場合は、管理者までご連絡ください。
        </p>
        <a th:href="@{${storeUrl}}" class="store-link">店舗ページへ進む</a>
    </div>

    <div th:if="${storeName == null}" class="store-info">
        <p>店舗情報が登録されていないか、ログインしていません。
            ログインしていない場合、右上のメニューからログインしてください。</p>
    </div>
</main>

</body>
</html>
