<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ホーム</title>
</head>
<body>
<main layout:fragment="content">
    <h1>ホームページ</h1>

    <div th:if="${userName == 'ゲスト'}">
        ようこそ、ゲストさん
    </div>

    <div th:if="${userName != 'ゲスト'}">
        ようこそ、[[${userName}]] さん
        <p>あなたの店舗一覧を確認する場合は、下記リンクから移動してください。</p>
        <a th:href="@{/store}" class="store-link">自分の店舗一覧へ</a>
    </div>

    <div th:if="${userName == 'ゲスト'}" class="store-info">
        <p>店舗情報が表示されていないか、ログインしていません。<br>
            ログインしていない場合、右上のメニューからログインしてください。</p>
    </div>
</main>
</body>
</html>
